/*Styling in CSS*/
:root{
    background-color: black;
}

::-webkit-scrollbar{
    background-color: white;
    scrollbar-color: #E46D4D;
}

::-webkit-scrollbar-thumb{
    background-color: #59EBB9;
    border-radius: 5rem;
}

.title-styling {
    text-align: center;
    font-size: 100px;
    font-family: "montserrat";
}

.header-styling {
    text-align: center;
    font-size: 35px;
    font-family: "garamond", serif;
    color: white;
}

.italics{
    color: red;
    font-style: thin;
    font-style: italic;
}

.form-box {
    /*background-color: #C8E6D1;*/
    background-image: url(".image/LightCarbon.Png");
    color: white;
    border: 8px solid black;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    font-size: 30px;
    font-weight: thin;
    font-family: "montserrat";
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    /*font-family: "garamond", serif;*/
}

.slider-styling {
    padding: 8px;
    color: whitesmoke;
    border: 8px solid white;
    font-family: "Lucida Console", Courier;
    font-size:20px;
    text-align: center;
    margin-top: 40px;
    border-radius: 5rem;
}

.taipy-button {
    background-color: #59EBB9;
    color: black;
    border: 3px solid grey;
    border-radius: 5em;
}

#submit-button {
    background-color: rgb(92, 92, 92);
    color: #E46D4D;
    border: 5px solid black;
    text-align: left;
    justify-content: center;
    align-items: center;
}
